<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>main.html</welcome-file>
    </welcome-file-list>

    <!--============================Spring在web应用中的简单模拟实现===========================-->
    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:testAppCtx.xml</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
    <!--<listener-class>com.yf.web.test.listener.SpringServletContextListener</listener-class>-->
    <!--</listener>-->
    <!--<servlet>-->
    <!--<servlet-name>testServlet</servlet-name>-->
    <!--<servlet-class>com.yf.web.test.servlet.TestServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>testServlet</servlet-name>-->
    <!--<url-pattern>/TestServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--=================================struts2配置==============================================-->
    <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:strutsAppCtx.xml</param-value>-->
    <!--</context-param>-->
    <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <!--<filter>-->
    <!--<filter-name>struts2</filter-name>-->
    <!--<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>struts2</filter-name>-->
    <!--<url-pattern>*.action</url-pattern>-->
    <!--</filter-mapping>-->


    <!--==================================springMVC配置=============================================-->
    <!--==================================为SpringMVC容器创建一个父容器===============================-->
    <!--父容器配置文件地址-->
    <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:beans.xml</param-value>
    </context-param>
    <!--父容器创建者，实际上委托给ContextLoader-->
    <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--注册一个监听器，用于在容器启动的时候初始化首页数据，注意：多个监听器共存时按顺序执行-->
    <listener>
        <listener-class>com.yf.web.curd.listener.MainPageListener</listener-class>
    </listener>

    <!--配置hiddenHttpMethodFilter可以将post转换为put、delete请求-->
    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--配置编码格式过滤器-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceRequestEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>forceResponseEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextInitializerClasses</param-name>
            <param-value>com.yf.web.curd.MyApplicationContextInitializer</param-value>
        </init-param>
        <!--使用namespace方式会自动将目录拼接为：/WEB-INF/{namespace}.xml-->
        <!--<init-param>-->
        <!--<param-name>namespace</param-name>-->
        <!--<param-value>dispatcherServlet-servlet</param-value>-->
        <!--</init-param>-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcherServlet-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <multipart-config>
            <!--<location>d:/upload</location>-->
            <!--2M大小限制，单位byte-->
            <max-file-size>2097152</max-file-size>
            <!--上传文件整个请求不超过4M-->
            <max-request-size>4194304</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>